@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #identity {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        margin-left: auto;
        width: auto;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
        list-style: none;
    }

    .navigation a {
        border: none;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 1rem;
        gap: 1rem;
    }

    .grid-view {
        grid-template-columns: 1fr 1fr 1fr;
    }



    .list-row {
        display: grid;
        grid-template-columns: 60px 1.5fr 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-bottom: 1px solid #ccc;
        font-size: 0.9rem;
    }

    .list-row img {
        margin-bottom: 0.5rem;

    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .forecast-container {
        flex-direction: column;
    }

    #current-temp {
        font-size: 2.5rem;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        line-height: 1.5;
    }

    main.join-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1rem;
    }

   
}
